#mainDiv {
  width: 70%;
}

#firstInput,
#secondInput {
  font-size: 17px;
  border: 1px solid grey;
  background: #f1f1f1;
}

#secondInput {
}

#submitBtn {
  width: 20%;
  padding: 10;
  margin: 20px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

#submitDiv {
  max-width: 50%;
  display: inline;
}

#ulList {
  float: left;
  list-style-type: none;
}

#ulList2 {
  list-style-type: none;
  float: right;
}
