.container {
  text-align: center;
}
.container-left {
  text-align: left;
}
#logoImg {
  margin-top: 10px;
}
#middle-row {
  margin-top: 5%;
  display: inline-block;
}
#submitBtn {
  width: 150px;
  background-color: #14a17e;
}

.stats-box {
  margin-left: 10px;
  width: 55%;
  left: 50px;
}

.match-entry {
  border-left: 2px solid #4caf50;
}
